<div class="draw__box">
<div id="canvas"></div>
<div class="color__palette">
    <span id="red" style="background-color: red;"></span>
    <span id="blue" style="background-color: blue;"></span>
    <span id="green" style="background-color: green;"></span>
    <span id="white" style="background-color: white;"></span>
    <span id="black" style="background-color: black;"></span>
    <span id="yellow" style="background-color: yellow;"></span>
    <span id="papayawhip" style="background-color: rgb(241, 145, 80);"></span>
    <button id="cleanBtn" class="button">Clean</button>
    <button id="saveBtn" class="button">Save</button>
    <!-- Dodaj inne kolory tutaj -->
</div>
</div>
